<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
</head>

<body>
    <h2>data is saved to redis</h2>
    <h1>making sure <span data-th-text="${name}"></span> is here</h1>

    <form method="POST" action="/search">
        <input type="hidden" name="name" data-th-value="${name}">
        <button type="submit">Search another route</button>
    </form>

    <form method="POST" action="/trackedRoutes">
        <input type="hidden" name="name" data-th-value="${name}">
        <button type="submit">Saved routes</button>
    </form>
</body>

</html>