<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .form-check-input:checked {
            background-color: #212529;
            border-color: #212529;
        }
    </style>
</head>

<body>

    <div class="container-md">
        <div class="d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-8">
                <p class="display-1 text-center">Start searching here!</p>
                <form method="GET" action="/result" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="">Origin</span>
                            <input type="text" class="form-control" placeholder="Please enter an origin airport"
                                name="originLocationCode" required>
                        </div>
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="">Destination</span>
                            <input type="text" class="form-control" placeholder="Please enter an arrival airport"
                                name="destinationLocationCode" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="">Departure Date</span>
                            <input type="date" class="form-control" name="departureDate" data-th-min="${dateNow}"
                                data-th-max="${dateLater}" required>
                        </div>
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="">Return Date</span>
                            <input type="date" class="form-control" name="returnDate" data-th-min="${dateNow}"
                                data-th-max="${dateLater}">
                        </div>
                    </div>
                    <select class="form-select input-group mb-3" name="travelClass" required>
                        <option value="">Please select cabin class...</option>
                        <option value="ECONOMY">Economy</option>
                        <option value="PREMIUM_ECONOMY">Premium Economy</option>
                        <option value="BUSINESS">Business</option>
                        <option value="FIRST">First</option>
                    </select>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="" name="nonStop"> Direct
                        flights only
                    </div>
                    <input type="hidden" name="name" data-th-value="${name}">
                    <div class="d-grid mx-auto">
                        <button type="submit" class="btn btn-dark mt-1">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script>
        (() => {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>