<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracked Routes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-md-center align-items-center mb-1">
            <h1 class="display-2">
                Flight prices tracked for <span data-th-text="${name}"></span>
            </h1>
        </div>
        <div class="d-flex justify-content-md-center align-items-center mb-4">
            <form method="POST" action="/search">
                <input type="hidden" name="name" data-th-value="${name}">
                <button type="submit" class="btn btn-dark">Search another route</button>
            </form>
            <span class="p-1"></span>
            <form method="POST" action="/trackedRoutes">
                <input type="hidden" name="name" data-th-value="${name}">
                <input type="hidden" name="firstOffer" data-th-value="${firstOffer}">
                <button type="submit" class="btn btn-dark">Refresh</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-4" th:each="fo:${foList}">
                    <div class="card" style="width: 600px; height: 300px;">
                        <div class="row">
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        <span th:text="${fo.origin}"></span>
                                        <img width="120px" th:src="@{images/todestination.png}">
                                        <span th:text="${fo.destination}"></span>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <span th:if="${fo.direct}">
                                                <span class="p-1"><span class="badge bg-secondary">DIRECT</span></span>
                                            </span>
                                            <span class="p-1">
                                                <span class="badge bg-secondary">
                                                    <span th:text="${fo.travelClass}"></span>
                                                </span>
                                            </span>
                                            <span th:if="${fo.oneWay}">
                                                <span class="p-1"><span class="badge bg-secondary">ONE WAY</span></span>
                                            </span>
                                            <span th:unless="${fo.oneWay}">
                                                <span class="p-1"><span class="badge bg-secondary">RETURN</span></span>
                                            </span>
                                        </h6>
                                        <table class="table table-hover table-borderless" >
                                            <tr>
                                                <td>
                                                    <strong>Departure</strong>
                                                </td>
                                                <td>
                                                    <strong>
                                                        <span th:text="${fo.departureDate}"></span>
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Return</strong>
                                                </td>
                                                <td>
                                                    <strong>
                                                        <span th:text="${fo.returnDate} ?: '-'"></span>
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>{AI Reccomend if price is good}</p>
                                        <button type="button" class="btn btn-danger">                                
                                            <strong>DELETE</strong>
                                        </button>
                                        <button type="button" class="btn btn-success">                                
                                            <strong>REFRESH</strong>
                                        </button>
                                        
                                </div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        <span class="badge text-bg-dark">
                                            <span th:text="${fo.currency} + ' ' + ${fo.totalPrice}"></span>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>